@model HomeViewModel
    
<h1>
    @Model.Title
</h1>
@foreach (var pie in Model.PieList)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@pie.ImageThumbnailUrl" alt="">
            <div class="caption">
                <h3 class="pull-right">@pie.Price.ToString("c")</h3>
                <h3>
                    <a asp-controller="Home" asp-action="Details"
                       asp-route-id="@pie.Id">@pie.Name</a>
                </h3>
                <a href="/Home/Details/@pie.Id">@pie.ShortDescription</a>
            </div>
        </div>
    </div>
}